{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task_selected.title_task }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="c-task base">
        <form action="{% url 'update' task_selected.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" value="{{ task_selected.title_task }}">
            <input type="text" name="text" value="{{ task_selected.text_task }}">
            <input type="submit" value="Atualizar">
        </form>
    </main>
</body>
</html>
