{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ taskSelected.title_task }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="base">
        <h1>{{ taskSelected.title_task }}</h1>
        <p>{{ taskSelected.text_task }}</p>
        <form action="{% url 'delete' taskSelected.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Excluir">
        </form>
    </main>
</body>
</html>
