{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task_selected.title_task }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="c-task base">
        <div >
            {% csrf_token %}
            <input id="title" type="text" name="title" value="{{ task_selected.title_task }}">
            <input id="text" type="text" name="text" value="{{ task_selected.text_task }}">
            <input class="btn_submit" id="{{task_selected.id}}" type="submit" value="Atualizar">
        </div>
    </main>
    <script>
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let submit = document.querySelector(".btn_submit");

        submit.addEventListener('click', (event) =>{
            const titleform = document.querySelector("#title").value;
            const textform = document.querySelector("#text").value;

            const data = {
                title: titleform,
                text: textform
            };

            fetch(`http://localhost:8000/polls/put/${submit.id}/`, {
                method: "PUT",
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                window.location.href = 'http://localhost:8000/polls/';
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
        })
    </script>
</body>
</html>
